<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台系统</title>
    {include file="public/header"}
    <link href="__ADMIN__/public/index.css" type="text/css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo ">后台系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible left-menu" action="left"><a href="javascript:;" class="tooltip " title="左伸缩菜单"><i class="layui-icon-shrink-right layui-icon"></i></a></li>
            <li class="layui-nav-item layadmin-flexible refresh"><a href="javascript:;" class="tooltip"  title="刷新"><i class="layui-icon-refresh-3 layui-icon"></i></a></li>
            <li class="layui-nav-item layadmin-flexible"><a href="javascript:;" class="tooltip"  title="锁屏"><i class="layui-icon-password layui-icon font-size-23" style="font-weight: bold;"></i></a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                    <i class="layui-icon-triangle-d layui-icon"></i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" title="注销" class="tooltip"><i class="icon-tuichu2 iconfont font-size-23" style="font-weight: bold;"></i></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item index-column-url"  url="/index/home"  ><a href="javascript:;"><i class="icon-shouye3 iconfont public-right-10 font-size-14"></i>首页</a></li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;" ><i class="icon-chanpin iconfont public-right-10 font-size-14"></i>自定栏目</a>
                    <dl class="layui-nav-child">
                        <dd url="/html/index" class="index-column-url"><a href="javascript:;" >自定页面</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;" ><i class="icon-chanpin iconfont public-right-10 font-size-14"></i>系统设置</a>
                    <dl class="layui-nav-child">
                        <dd url="/admin/index" class="index-column-url"><a href="javascript:;" >管理账号</a></dd>
                    </dl>
                </li>
                </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
    </div>

</div>

</body>
</html>
<script id='script'  type='text/javascript' src=''></script>
{include file="public/footer"}
