<link rel="stylesheet" href="__ADMIN__/css/admin.css" />

<div class="public-header ">
    <form class="layui-form layui-form-pane " action="{:url('index')}">
        <div class="layui-form-item search-form">
            <div class="layui-inline">
                <label class="layui-form-label">分组名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="username"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline public-btn">
                <div class="layui-input-inline ">
                    <button type="button"  lay-submit="" lay-filter="search" class="layui-btn layui-btn-sm  public-btn"><i class="layui-icon-search layui-icon"></i>搜索</button>
                </div>
            </div>
        </div>
        <input value="200" name="api" type="hidden"  />
    </form>
    <!--添加/修改等按钮-->
    <div class="layui-form-item ">
        <div class="layui-btn-group ">
            <button type="button" class="layui-btn layui-btn-sm admin-add public-btn"><i class="layui-icon-add-1 layui-icon"></i>增加</button>
        </div>
    </div>

    <!--内容区域-->
    <div class="public-content-table">
        <table class="layui-hide" id="content" lay-filter="content"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs modify" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
    </script>
    <script type="text/html" id="start">
        {{# if(d.disable == 1){  }}
        <button type="button" class="layui-btn  layui-btn-xs ">启用</button>
        {{#  } else if(d.disable == 2) { }}
        <button type="button" class="layui-btn  layui-btn-xs layui-btn-disabled">禁用</button>
        {{#  } }}
    </script>
    <script type="text/html" id="images">
        <img src="{{ d.img }}" layer-pid="{{d.admin_id}}" lay-event="img" alt="{{d.contact}}" class="public-images-30 public-click-images" />
    </script>
</div>

<script type="text/javascript" src="__ADMIN__/js/channel.js"></script>