*{
    margin:0;
    padding: 0;
}
img{
    width: 100%;

}
body,.layui-header,.layui-body{
    min-width:320px;
}
.layui-body{
    background-color: #f2f2f2;
}

.float-no{
    content:"";
    clear:both;
}
body .layui-layout-admin .layui-body{
    bottom: 0;
}
.tooltip{}
#tooltip{
    position:absolute;
    background:rgb(68, 76, 99);
    padding:5px;
    color:#fff;
    font-size: 12px;
    border-radius:2px;
    display:none;
    z-index: 999999999;
}
.public-right-10{
    padding-right: 10px;
}
body .font-size-14{
    font-size:14px;
}
.padding-10{
    padding: 10px;
}
.font-size-23{
    font-size:23px;
}
.layui-layer-title{
    color: #fff;
    background-color: #000;
}
.public-border-e6{
    border: #e6e6e6 1px solid;
}

@media (max-width:768px){
    /*body .layui-layout-admin .layui-logo ,body .layui-side{*/
    /*    left:-200px*/
    /*}*/
    /*body .layui-body,body .layui-header .layui-layout-left{*/
    /*    left: 0;*/
    /*}*/
    .layui-header .layui-nav{
        padding: 0;
    }

}

.public-header{
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    behavior: url(./ie-css3.htc);
    border-radius: 3px;
}
.public-header .search-form{
    padding-bottom: 10px;
    border-bottom:1px solid #f0f0f0;
}

@media (max-width:375px){
    body .layui-header .layui-layout-left .layui-nav-item a i{
        font-size: 18px;
    }
    body .layui-nav-img{
        width: 25px;
        height: 25px;
    }
    .layui-header .font-size-23{
        font-size: 20px;
    }
    .layui-header .layui-nav .layui-nav-item a{
        padding:0px 15px;
    }
}